# Ignore IDEA files and directories
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/
.idea/modules.xml
.idea/misc.xml
.idea/CodyDashboard.iml
.idea/cody_history.xml
Data/
__pycache/
.venv/
.streamlit/secrets.toml
